.container {
  @apply bg-accent rounded-xl w-full;
}

.container:hover {
  background-color: #2e374a;
}

.content {
  display: flex;
  gap: 20px;
}

.title {
  @apply flex flex-row items-end gap-x-2;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.number {
  font-size: 24px;
  font-weight: 500;
}

.detail {
  font-size: 14px;
  font-weight: 300;
}

.positive {
  color: lime;
}

.negative {
  color: red;
}
